.cell {
    width: 35px;
    height: 35px;
    background: grey;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
}

.cellValue-empty {
    width: 35px;
    height: 35px;
}

.cellValue-ship {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 512 512'> <path d='M448 0h-384c-35.2 0-64 28.8-64 64v384c0 35.2 28.8 64 64 64h384c35.2 0 64-28.8 64-64v-384c0-35.2-28.8-64-64-64zM448 448h-384v-384h384v384z'> </path> </svg>");
    width: 35px;
    height: 35px;
}